.about-us {
  background-color: $bg_dark;
}

.about-us__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__nav-open {
  display: none;
}

.about-us__nav-item {
  position: relative;
  border-left: 1px solid #3a3a3b;
  flex-grow: 1;
  text-align: center;
}

.about-us__nav-item_mobile {
  display: none;
}

.about-us__nav-item:last-child {
  border-right: 1px solid #3a3a3b;
}

.about-us__inner-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  list-style: none;
  padding: 10px 35px;
  margin: 0;
  background-color: $grad_green_dark2;
  text-align: left;
  border-top: 1px solid #3a3a3b;
}

.about-us__inner-menu li {
  margin-bottom: 10px;
}

.about-us__inner-menu li a {
  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.about-us__inner-menu li a:hover {
  color: $yellow;
  text-decoration: underline;
}

.about-us__nav-link {
  color: $white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.about-us__nav-item:hover .about-us__inner-menu {
  display: block;
}

.about-us__nav-item:hover .about-us__nav-link {
  background-color: $grad_green_dark2;
}

.about-us__adv {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.about-us__adv-item {
  position: relative;
  flex-grow: 1;
  padding: 5px 0;
  padding-left: 70px;
}

.about-us__adv-item::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -28px;
  left: 0;
  display: block;
  width: 53px;
  height: 53px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__adv-item_1::before {
  background-image: url("../img/adv1.png");
}

.about-us__adv-item_2::before {
  background-image: url("../img/adv2.png");
}

.about-us__adv-item_3::before {
  background-image: url("../img/adv3.png");
}

.about-us__adv-title {
  font-size: 16px;
  font-weight: 500;
  color: $green_text-medium;
  text-transform: uppercase;
}

.about-us__adv-text {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .about-us__inner-menu {
    padding: 10px 15px;
  }
}

@media (max-width: 992px) {
  .about-us__adv-item_2 {
    display: none;
  }

  .about-us__nav-link {
    font-size: 16px;
  }

  .about-us__nav-link span {
    display: none;
  }
}

@media (max-width: 768px) {
  .about-us {
    position: relative;
  }


  .about-us__nav {
    display: none;
    flex-direction: column;
    margin: 0 -15px;
    position: absolute;
    z-index: 10;
    left: 15px;
    right: 0;
    margin-left: -15px;
    margin-right: 0;
    background-color: #242425;
    @include trans(0.6s);

  }

  .about-us__nav-open {
    display: flex;
    justify-content: center;
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 10px 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #3a3a3b;
    font-size: 22px;
    text-align: center;
  }

  .about-us__nav-open span {
    display: block;
    position: relative;
  }

  .about-us__nav-open-icon {
    position: absolute;
    top: 6px;
    left: -40px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }

  .about-us__nav-open-icon::before,
  .about-us__nav-open-icon::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
  }

  .about-us__nav-open-icon::after {
    top: 16px;
  }

  /*mobile menu opened*/
  .about-us__nav_active {
    display: flex;
    top: 51px;
  }

  .about-us__nav-open_active .about-us__nav-open-icon{
    transform: rotate(90deg);
    top: 14px;
    left: -30px;
    background-color: $green_text-dark;
  }

  .about-us__nav-open_active .about-us__nav-open-icon::before,
  .about-us__nav-open_active .about-us__nav-open-icon::after {
    background-color: $green_text-dark;
  }

  .about-us__nav-open_active span {
    color: $green_text-dark;
  }

  .about-us__adv {
    display: none;
  }

  .about-us__nav-link {
    font-size: 18px;
    text-align: left;
  }

  .about-us__nav-item:hover .about-us__nav-link {
    background-color: $bg_dark;
    color: $yellow;
  }

  .about-us__nav-link span {
    display: inline;
  }

  .about-us__nav-item_mobile {
    display: block;
  }

  .about-us__nav-item {
    border: none;
    border-bottom: 1px solid #3a3a3b;
    text-align: left;
  }

  .about-us__nav-item:hover .about-us__inner-menu {
    opacity: 0;
  }
}