.about-content {
  color: $bg_dark;

  &__title {
    margin-top: 44px;
    margin-bottom: 20px;
    width: 80%
  }

  &__fact {

    &_doc {
      margin-top: 100px;
    }

    &_percent {
      margin-top: 50px;
    }

    &_winner1 {
      margin-top: 145px;
    }

    &_label {
      margin-top: 130%;
    }

    &_list {
      margin-top: 531px;
    }

    &_boss {
      margin-top: 40px;
    }

    &_list2 {
      margin-top: 160px;
    }

    &_list3 {
      margin-bottom: -40px;
    }

    &_garden-path {
      margin-top: 400px;
    }
  }

  &__map-box {
    width: 100%;
  }

  &__map {
    width: 100%;
  }

  &__float-left-img {
    margin-right: 30px;
    float: left;
  }

  &__float-right-img {
    margin-left: 30px;
    float: right;
  }

}

.fact-doc {

  &__title {
    position: relative;
    padding-left: 45px;
    font-size: 18px;
    line-height: 18px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 35px;
      width: 31px;
      background: url('../img/about-us/file_icon.png') no-repeat center;
    }
  }

  &__list {
    padding: 0;
    padding-left: 45px;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    @include fontSH(16px, 24px);
  }

  &__link {
    color: $green_sub-title;
    text-decoration: underline;
  }
}

.fact-percent {
  @include fontSH(14px, 18px);

  &__title {
    margin-bottom: 0;
    color: $green_sub-title;
    font-weight: 600;
  }

  &__number {
    margin-bottom: 0;
    @include fontSH(60px, 60px);
    color: $green_sub-title;
    font-weight: lighter;
  }

  &__desc {

  }
}

.fact-label {
  @include fontSH(14px, 20px);

  &__title {
    width: 80%;
  }

  &__explanation {
    width: 80%;

    &::before {
      content: '*';
      color: #469c2c;
    }
  }
}

.fact-list {
  &__title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  &__list {
    padding-left: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    padding-left: 15px;
    @include fontSH(14px, 24px);

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: '●';
      color: #57a638;
    }
  }

  &__txt {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
  }

  &__link {
    color: #6cb443;
    text-decoration: underline;
  }
}

.fact-boss {
  display: flex;

  &_mobile {
    display: none;
    margin-top: 20px;
  }

  &__img {
    width: 80px;
    height: 80px;
    margin-right: 16px;
  }

  &__title {
    @include fontSH(18px, 24px);
  }

  &__desc {
    @include fontSH(14px, 20px);
    font-style: italic;
  }
}

.number-list {
  padding-left: 0;
  list-style-type: none;

  &__item {
    margin-bottom: 14px;
    @include fontSH(18px, 32px);
  }

  &__color-number {
    margin-right: 10px;
    color: #57a638;
  }
}

.marker-list {
  padding-left: 0;
  list-style-type: none;

  &__item {
    position: relative;
    padding-left: 27px;
    margin-bottom: 14px;
    @include fontSH(18px, 32px);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 15px;
      width: 12px;
      height: 1px;
      background-color: #57a638;
    }
  }

}

.fact-garden-path {
  &__img {
    display: block;
    margin-bottom: 20px;
  }

  &__link {
    @include fontSH(18px, 30px);
    color: #57a638;
    text-decoration: underline;
  }
}

@media(max-width: 991px) {
 .about-content {
   &__title {
     margin-top: 30px;
     margin-bottom: 30px;
     width: 100%;
     font-size: 34px;
   }

   &__fact {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 10px;

     &_percent {
       margin-top: 30px;
     }

     &_winner1 {
       margin-bottom: 10px;
     }

     &_list {
       display: none;
     }

     &_list2 {
       align-items: flex-start;
     }

     &_list3 {
       align-items: flex-start;
       margin-bottom: 0;
     }

     &_garden-path {
       align-items: flex-start;
     }
   }

 }

  .fact-doc {
    &__title {
      padding: 0 45px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-left: 0;
    }

    &__item {
      margin-right: 50px;
    }
  }

  .fact-percent {
    display: flex;
    justify-content: center;

    &__number-block {
      margin-right: 15px;
    }

    &__desc {
      padding-top: 20px;
      width: 187px;
    }
  }

  .fact-label {
    display: flex;
    align-items: center;

    &__img {
      margin-right: 20px;
    }
  }

  .fact-list {

  }

  .fact-boss {
    display: none;

    &_mobile {
      display: flex;
      align-items: center;
    }
  }

  .number-list {
    &__item {
      margin-bottom: 10px;
      @include fontSH(16px, 26px);
    }
  }

  .marker-list {
    &__item {
      margin-bottom: 10px;
      @include fontSH(16px, 26px);

      &::before {
        top: 12px;
      }
    }
  }

}

@media(max-width: 767px) {
  .about-content {
    &__title {
      margin-top: 25px;
      margin-bottom: 25px;
      @include fontSH(26px, 32px);
    }
  }

  .fact-percent {
    flex-direction: column;
    //margin-left: calc((100% - 187px) / 2);

    &__desc {
      padding-top: 0;
    }
 }

  .fact-label {
    display: block;
    text-align: center;

    &__img {
      margin-right: 0;
    }

    &__explanation {
      margin: 0 auto;
      text-align: center;
    }
  }

  .number-list {
    @include fontSH(16px, 42px);
  }
}