.about-top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background: url('../img/about-us/about-top_bg.png') no-repeat center;
  text-align: center;

  font-family: Neris;
  letter-spacing: 0.005em;

  &_green {
    margin-bottom: 20px;
    background: url('../img/about-us/about-top-green_bg.png') no-repeat center;
  }

  &_green2 {
    background: url('../img/ideas-content/ideas-cont-top-bg.jpg') no-repeat center;
  }

  &__title {
    width: 72%;
    margin-bottom: 73px;
    @include fontSH(62px, 70px);
    color: $white;

    &_narrow {
      width: 53%;
    }
  }

  &__desc {
    font-size: 18px;

    &_date {
      padding-left: 30px;
      background: url('../img/ideas-content/date_icon.png') no-repeat;
      background-position: calc(50% - 45px) 7px;
    }
  }

  &__breadcrumbs-box {
    position: absolute;
    top: 10px;
    left: 80px;
  }
}

@media (max-width: 991px) {
  .about-top {
    &__title {
      margin-bottom: 50px;
      width: 88%;
      @include fontSH(50px, 65px);
    }

    &__desc {
      padding-bottom: 30px;
    }

    &__breadcrumbs-box {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .about-top {
    min-height: 362px;

    &__title {
      margin-bottom: 50px;
      @include fontSH(32px, 42px);
    }

    &__desc {
      padding-bottom: 0;
      width: 88%;
    }
  }
}