.advantages {
  margin-bottom: 40px;
  margin-top: 15px;
  padding-bottom: 15px;
  background-color: $gray;
  color: $bg_dark;
  font-weight: 400;

  &_about {
    margin-bottom: 0;
  }
}

.advantages__title {
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__item {
  padding-top: 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 0;
}

.advantages__item-title {
  @include fontSH(14px, 22px);
  text-transform: uppercase;
}

.advantages__item_1 {
  background-image: url("../img/serv_adv1.png");
  background-size: 214px;
}

.advantages__item_2 {
  background-image: url("../img/serv_adv2.png");
  background-size: 214px;
}

.advantages__item_3 {
  background-image: url("../img/serv_adv3.png");
  background-position: center 30px;
}

.advantages__item_4 {
  background-image: url("../img/serv_adv4.png");
  background-position: center 20px;
}

.advantages__item_5 {
  background-image: url("../img/serv_adv5.png");
  background-position: center 30px;
  background-size: 125px;
}

.advantages__item_6 {
  background-image: url("../img/serv_adv6.png");
  background-position: center 20px;
  background-size: 125px;
}

.advantages__item_7 {
  background-image: url("../img/serv_adv7.png");
  background-position: center 30px;
  background-size: 125px;
}

.advantages__item_8 {
  background-image: url("../img/serv_adv8.png");
  background-position: center 20px;
  background-size: 125px;
}

.advantages__item_9 {
  background-image: url("../img/serv_adv9.png");
  background-position: center 20px;
  background-size: 100px;
}

.advantages__item_10 {
  background-image: url("../img/serv_adv10.png");
  background-position: center 20px;
  background-size: 125px;
}

.advantages__item_11 {
  background-image: url("../img/serv_adv11.png");
  background-position: center 20px;
  background-size: 125px;
}

.advantages__item_12 {
  display: block;
}

.advantages__item_13 {
  padding-top: 120px;
  background-image: url("../img/about-us/secure1_icon.png");
  background-position: center 20px;
  background-size: 74px;
}

.advantages__item_14 {
  padding-top: 120px;
  background-image: url("../img/about-us/secure2_icon.png");
  background-position: center 20px;
  background-size: 74px;
}

.advantages__item_15 {
  padding-top: 120px;
  background-image: url("../img/about-us/secure3_icon.png");
  background-position: center 20px;
  background-size: 74px;
}

.advantages__item_16 {
   padding-top: 120px;
   background-image: url("../img/about-us/secure4_icon.png");
   background-position: center 20px;
   background-size: 74px;
 }
//
.advantages__item_17 {
  position: relative;
  padding-top: 120px;
  background-image: url("../img/about-us/sequence-1_icon.png");
  background-position: center 20px;
}

.advantages__item_18 {
  position: relative;
  padding-top: 120px;
  background-image: url("../img/about-us/sequence-2_icon.png");
  background-position: center 20px;
}

.advantages__item_19 {
  padding-top: 120px;
  background-image: url("../img/about-us/sequence-3_icon.png");
  background-position: center 20px;
}

.advantages__item_20 {
  padding-top: 120px;
  background-image: url("../img/about-us/sequence-4_icon.png");
  background-position: center 20px;
}

.advantages__item_17::after,
.advantages__item_18::after,
.advantages__item_19::after{
  content: '';
  display: block;
  position: absolute;
  top: 20%;
  right: -12%;
  width: 65px;
  height: 20px;
  background-image: url("../img/about-us/sequence-arrow.png");
  background-repeat: no-repeat;
}

//

.advantages__item_21 {
  padding-top: 120px;
  background-image: url("../img/about-us/secure5_icon.png");
  background-position: center 20px;
  background-size: 74px;
}

.advantages__item_22 {
  padding-top: 120px;
  background-image: url("../img/about-us/secure6_icon.png");
  background-position: center 20px;
  background-size: 74px;
}

.advantages__item_23 {
  padding-top: 120px;
  background-image: url("../img/about-us/secure7_icon.png");
  background-position: center 20px;
  background-size: 74px;
}

.advantages__item-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__item-text {
  padding: 0 10px;
  font-size: 15px;
  line-height: 22px;
}

.advantages__item-text_title {
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
}

.advantages__pagination {
  display: none;
}

.advantages_slider .swiper-slide {
  width: 26% !important;
}

/*===== ORDER =====*/
.advantages_order {
  background-color: transparent;
  margin-top: -20px;
}

.advantages_order.advantages_order_about-page {
  margin-top: 54px;
  margin-bottom: 32px;
}

.advantages__item-text _order {
  font-size: 14px;
  line-height: 20px;
}

.advantages__item-order {
  padding-top: 100px;
  position: relative;
}

.advantages__item_order1 {
  background-image: url("../img/order_step1.png");
}

.advantages__item_order2 {
  background-image: url("../img/order_step2.png");
}

.advantages__item_order3 {
  background-image: url("../img/order_step3.png");
}

.advantages__item_order1::after,
.advantages__item_order2::after {
  content: '';
  display: block;
  position: absolute;
  top: 20%;
  right: -12%;
  width: 65px;
  height: 20px;
  background-image: url("../img/order_arrow.png");
  background-repeat: no-repeat;
}

.advantages__item_order4 {
  background-image: url("../img/about-us/workers_icon.png");
}

.advantages__item_order5 {
  background-image: url("../img/about-us/years_icon.png");
  background-position: center 20px;
}

.advantages__item_order6 {
  background-image: url("../img/about-us/calendar_icon.png");
  background-position: center 10px;
}

.advantages__item_order7 {
  padding-top: 140px;
  background-image: url("../img/about-us/pofi_icon.png");
  background-position: center 10px;
}

.advantages__item_order8 {
  padding-top: 140px;
  background-image: url("../img/about-us/years-period_icon.png");
  background-position: center 10px;
}

.advantages__item_order9 {
  padding-top: 140px;
  background-image: url("../img/about-us/one-year_icon.png");
  background-position: center 10px;
}


@media (max-width: 992px) {
  .advantages__title {
    margin-bottom: 40px;
    line-height: 36px;
  }

  .advantages__item-text {
    font-size: 14px;
    line-height: 20px;
  }

  .advantages_slider .swiper-slide {
    width: 35% !important;
  }

  .advantages__pagination {
    display: block;
  }

  .advantages__pagination.swiper-pagination-bullets {
    display: block;
    position: absolute;
    bottom: -10px;
    text-align: center;
    transition: .3s;
    transform: translate3d(0,0,0);
    z-index: 10;
  }

  .advantages__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: $grad_grey1;
    opacity: 1;
  }

  .advantages__pagination  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    border: 2px solid $grad_grey1;
    background: transparent;
  }

  /*===== ORDER =====*/

  .advantages-order_slider {
    padding-bottom: 10px;
  }

  .advantages_order {
    margin-bottom: 20px;
    padding-top: 15px;
  }

  .advantages__item_order1::after,
  .advantages__item_order2::after {
    right: -20%;
  }

  .advantages__pagination_order.swiper-pagination-bullets {
    display: none;
  }
}

@media (max-width: 768px) {
  .advantages_order.advantages_order_about-page {
    margin-top: 0;
  }

  .advantages {
    margin-top: 0;
    margin-bottom: 20px;
    background-color: white;

    &_about {
      padding-top: 28px;
      padding-bottom: 40px;
      background-color: $gray;
    }
  }

  .advantages_complex {
    padding: 20px 0;
    background-color: $gray;
  }

  .advantages__title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 26px;
    line-height: 32px;
    text-transform: none;
  }

  .advantages__item-text_title {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 15px;
  }

  .advantages__item {
    padding-top: 140px;
    font-size: 16px;

    &_13, &_14, &_15, &_16 {
      padding-top: 100px;
    }
  }

  .advantages__item_4 {
    display: block;
  }

  .advantages__item_17::after,
  .advantages__item_18::after,
  .advantages__item_19::after {
    right: 20%;
  }

  .advantages_slider .swiper-slide {
    width: 100% !important;
  }

  .advantages_slider .swiper-wrapper {
    padding-bottom: 20px;
    margin: 0 auto;
  }

  /*===== ORDER =====*/
  .advantages__item-order {
    padding-top: 120px;
  }

  .advantages__item-text_order {
    font-size: 16px;
    line-height: 22px;
  }

  .advantages__pagination_order.swiper-pagination-bullets {
    display: block;
  }

  .advantages__item-order {
    background-position: center 25px;
  }

  .advantages__item_order1::after,
  .advantages__item_order2::after {
    right: 15%;
    top: 32%;
  }
}

@media (max-width: 480px) {
  /*===== ORDER =====*/
  .swiper-container.advantages-order_slider.swiper-container-horizontal {
    padding-bottom: 10px;
  }

  .advantages__item_order1::after,
  .advantages__item_order2::after {
    right: 0;
    top: 27%;
  }
}