.advantages {
  margin-bottom: 40px;
  margin-top: 15px;
  padding-bottom: 15px;
  background-color: $grey;
  color: $bg_dark;
  font-weight: 400;
}

.advantages__title {
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__item {
  padding-top: 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 0;
}

.advantages__item_1 {
  background-image: url("../img/serv_adv1.png");
  background-size: 214px;
}

.advantages__item_2 {
  background-image: url("../img/serv_adv2.png");
  background-size: 214px;
}

.advantages__item_3 {
  background-image: url("../img/serv_adv3.png");
  background-position: center 30px;
}

.advantages__item_4 {
  background-image: url("../img/serv_adv4.png");
  background-position: center 20px;
}

.advantages__item_5 {
  background-image: url("../img/serv_adv5.png");
  background-position: center 30px;
  background-size: 125px;
}

.advantages__item_6 {
  background-image: url("../img/serv_adv6.png");
  background-position: center 20px;
  background-size: 125px;
}

.advantages__item_7 {
  background-image: url("../img/serv_adv7.png");
  background-position: center 30px;
  background-size: 125px;
}

.advantages__item_8 {
  background-image: url("../img/serv_adv8.png");
  background-position: center 20px;
  background-size: 125px;
}

.advantages__item-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__item-text {
  padding: 0 10px;
  font-size: 15px;
  line-height: 22px;
}

.advantages__pagination {
  display: none;
}

.advantages_slider .swiper-slide {
  width: 26% !important;
}

@media (max-width: 992px) {
  .advantages__title {
    margin-bottom: 40px;
    line-height: 36px;
  }

  .advantages__item_4 {
    display: none;
  }

  .advantages__item-text {
    font-size: 14px;
    line-height: 20px;
  }

  .advantages_slider .swiper-slide {
    width: 35% !important;
  }
}

@media (max-width: 768px) {
  .advantages {
    margin-top: 0;
    margin-bottom: 20px;
    background-color: white;
  }

  .advantages__title {
    margin-bottom: 0;
    font-size: 26px;
    line-height: 32px;
    text-transform: none;
  }

  .advantages__item {
    padding-top: 140px;
    font-size: 16px;
  }

  .advantages__item_4 {
    display: block;
  }

  .advantages__pagination {
    display: block;
  }

  .advantages__pagination.swiper-pagination-bullets {
    display: block;
    position: absolute;
    bottom: -10px;
    text-align: center;
    transition: .3s;
    transform: translate3d(0,0,0);
    z-index: 10;
  }

  .advantages__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: $grad_grey1;
    opacity: 1;
  }

  .advantages__pagination  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    border: 2px solid $grad_grey1;
    background: transparent;
  }

  .advantages_slider .swiper-slide {
    width: 100% !important;
  }

  .advantages_slider .swiper-wrapper {
    padding-bottom: 20px;
  }
}