
.breadcrumbs {
  @include roboto(400, 14px, $bg_dark, 26px);
  margin: 0;
  margin-top: 11px;
  padding: 0;
}

.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  padding-right: 26px;
  position: relative;
  color: $green_medium;
}

.breadcrumbs__link::after {
  content: '';
  @include center(0);
  width: 11px;
  height: 10px;
  background: url('../img/breadcrumbs-arrow.png') no-repeat center;
}

