
.breadcrumbs {
  @include roboto(400, 14px, $bg_dark, 26px);
  margin: 0;
  margin-top: 11px;
  padding: 0;
}

.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;

  &_light {
    opacity: 0.5;
    color: $white;
  }
}

.breadcrumbs__link::after {
  content: '';
  @include center(0);
  width: 11px;
  height: 10px;
  background: url('../img/breadcrumbs-arrow.png') no-repeat center;
}

.breadcrumbs__link {
  padding-right: 26px;
  position: relative;
  color: $green_medium;

  &_light {
    opacity: 0.5;
    color: $white;

    &::after {
      background: url('../img/about-us/breadcrumb-arrow2.svg') no-repeat center;
      opacity: 1;
    }
  }

}



@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }

  .service-slider__container {
    margin-left: -15px;
    margin-right: -15px;
  }

}