@font-face {
  font-family: Neris;
  src: url('../fonts/Neris-SemiBold.otf');
}

body {
  @include roboto;
}

.block__title {
  font-size: 40px;
  color: $bg_dark;
  text-align: center;
  margin-bottom: 35px;
}
/*===========HEADER===========*/
.header {
  padding: 20px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header p {
  margin-bottom: 0;
}

.header__nav {
  margin: 0 15px;
}

.header__nav-time {
  font-size: 14px;
  color: $bg_dark;
}

.header__nav-block {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item a{
  color: $green_medium;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  @include trans;
}

.header__nav-item a:hover,
.header__nav-item a:active,
.header__nav-item a:focus {
  color: $bg_dark;
}

.header__contacts {
  color: $bg_dark;
}

.header__contacts-main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phones {
  margin-right: 17px;
  font-size: 18px;
  font-weight: 700;
}

.header__btn {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  background-color: $yellow;
  border: none;
  border-radius: 5px;
  @include trans;
}

.header__btn:hover,
.header__btn:active,
.header__btn:focus {
  background-color: $yellow-hover;
}

.header__phones-icon {
  display: none;
}

.header__phones-title {
  display: none;
}

/*==============ABOUT-US==========*/
.about-us {
  background-color: $bg_dark;
}

.about-us__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__nav-open {
  display: none;
}

.about-us__nav-item {
  position: relative;
  border-left: 1px solid #3a3a3b;
  flex-grow: 1;
  text-align: center;
}

.about-us__nav-item_mobile {
  display: none;
}

.about-us__nav-item:last-child {
  border-right: 1px solid #3a3a3b;
}

.about-us__inner-menu {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  list-style: none;
  padding: 10px 35px;
  margin: 0;
  background-color: $grad_green_dark2;
  text-align: left;
  border-top: 1px solid #3a3a3b;
  @include trans;
}

.about-us__inner-menu li {
  margin-bottom: 10px;
}

.about-us__inner-menu li a {
  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
  @include trans;
}

.about-us__inner-menu li a:hover {
  color: $yellow;
  text-decoration: underline;
}

.about-us__nav-link {
  color: $white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  @include trans;
}

.about-us__nav-item:hover .about-us__inner-menu {
  opacity: 1;
}

.about-us__nav-item:hover .about-us__nav-link {
  background-color: $grad_green_dark2;
}

.about-us__adv {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.about-us__adv-item {
  position: relative;
  flex-grow: 1;
  padding: 5px 0;
  padding-left: 70px;
}

.about-us__adv-item::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -28px;
  left: 0;
  display: block;
  width: 53px;
  height: 53px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__adv-item_1::before {
  background-image: url("../img/adv1.png");
}

.about-us__adv-item_2::before {
  background-image: url("../img/adv2.png");
}

.about-us__adv-item_3::before {
  background-image: url("../img/adv3.png");
}

.about-us__adv-title {
  font-size: 16px;
  font-weight: 500;
  color: $green_text-medium;
  text-transform: uppercase;
}

.about-us__adv-text {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}

/*===========SLIDER==========*/
.slider__wrap {
  height: 500px;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: 1px solid #3a3a3b;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item_1 {
  background-image: url("../img/slide1.png");
}

.slider__item_2 {
  background-image: url("../img/slide2.png");
}

.slider__item_3 {
  background-image: url("../img/slide3.png");
}

.slider__item_4 {
  background-image: url("../img/slide4.png");
}

.slider__text {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__item_3 .slider__text {
  align-items: flex-end;
}

.slider__item_4 .slider__text {
  align-items: flex-start;
  width: 90%;
}

.slider__title {
  font-family: 'Neris', 'Arial', sans-serif;
  font-size: 62px;
  line-height: 76px;
}

.slider__item_2 .slider__title {
  text-align: center;
}

.slider__item_3 .slider__title {
  text-align: right;
}

.slider__item_4 .slider__title {
  text-align: left;
  color: $green_text-dark;
}

.slider__title-1 {
  display: inline-block;
  padding: 0px 15px 7px 15px;
  background-color: $green_text-dark;
}

.slider__item_2 .slider__title-1 {
  background-color: $slider_blue1;
}

.slider__item_3 .slider__title-1 {
  background-color: $slider_grey1;
}

.slider__item_4 .slider__title-1 {
  background-color: rgba(255,255,255,0.95);
}

.slider__title-2 {
  display: inline-block;
  padding: 0px 15px 7px 15px;
  background-color: $green_text-medium;
}

.slider__item_2 .slider__title-2 {
  background-color: $slider_blue2;
}

.slider__item_3 .slider__title-2 {
  background-color: $slider_grey2;
}

.slider__item_4 .slider__title-2 {
  background-color: rgba(255,255,255,0.85);
}

.slider__title-3 {
  display: inline-block;
  padding: 0px 15px 7px 15px;
  background-color: $green_text-light;
}

.slider__item_2 .slider__title-3 {
  background-color: $slider_blue3;
}

.slider__item_4 .slider__title-3 {
  background-color: rgba(255,255,255,0.75);
}

.slider__desc {
  width: 85%;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $bg_dark;
  background-color: rgba(255, 255, 255, 0.7);
}

.slider__item_2 .slider__desc {
  width: auto;
}

  /*===========SERVICES==========*/
.services {
  padding-top: 40px;
  padding-bottom: 40px;
}

.services__block {
  padding: 10px;
}

.services__block > div {
  padding: 5px;
}

.services__block div:nth-child(2n) .services__item {
  background: linear-gradient(to right, $grad_green_light1, $grad_green_light2);
}

.services__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 120px;
  padding: 20px;
  padding-left: 130px;
  background: linear-gradient(to right, $grad_green_dark1, $grad_green_dark2);
  border-radius: 5px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  @include trans;
}

.services__item:hover,
.services__item:active,
.services__item:focus {
  background: linear-gradient(to right, $grad_grey1, $grad_grey2) !important;
  color: $green_text-dark;
  text-decoration: none;
}

.services__item-img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 25px center;
}

.services__item-img_1 {
  background-image: url("../img/Services1.png");
}

.services__item-img_2 {
  background-image: url("../img/Services2.png");
}

.services__item-img_3 {
  background-image: url("../img/Services3.png");
}

.services__item-img_4 {
  background-image: url("../img/Services4.png");
}

.services__item-img_5 {
  background-image: url("../img/Services5.png");
}

.services__item-img_6 {
  background-image: url("../img/Services6.png");
}
/*==========CALL-BACK==========*/
.call-back {
  padding: 32px 80px;
  margin-bottom: 30px;
  background-color: #2b542c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-back__desc {
  min-width: 40%;
  max-width: 60%;
  color: #fff;
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 20px;
}

.call-back__phone {
  color: #ffff00;
  margin-bottom: 0;
  font-size: 30px;
}

.header__btn_call-back {
  color: $bg_dark;
}

/*=========PROJECTS==========*/
.projects {
  padding-bottom: 45px;
}

.projects__item {
  display: flex;
  position: relative;
}

.projects__item-desc {
  flex-grow: 1;
  background-color: #f5f5f5;
  margin-left: 6px;
  padding: 15px;
  color: $bg_dark;
  height: calc(100% - 50px);
}

.projects__item-title {
  display: block;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 500;
  color: $green_text-dark;
  text-decoration: underline;
  cursor: pointer;
}

.projects__desc-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
}

.projects__number {
  font-weight: 700;
}

.projects__pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 33%;
  display: flex;
  justify-content: space-between;
}

.projects__pagination-item {
  flex-basis: 49%;
  background-color: transparent;
  border: 1px solid $green_text-dark;
  border-radius: 5px;
  color: $green_text-dark;
}

.projects__pagination-prev {
  position: relative;
  padding-left: 30px;
  transition: all 0.3s ease-in-out;
}

.projects__pagination-prev::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 10px;
  display: block;
  width: 30px;
  height: 10px;
  background-image: url("../img/arrow_prev.png");
  background-repeat: no-repeat;
  transform: rotate(-180deg);
}

.projects__pagination-next {
  padding-right: 30px;
  transition: all 0.3s ease-in-out;
}

.projects__pagination-next::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 10px;
  display: block;
  width: 30px;
  height: 10px;
  background-image: url("../img/arrow_prev.png");
  background-repeat: no-repeat;
}

.projects__pagination-prev:hover,
.projects__pagination-prev:active,
.projects__pagination-prev:focus {
  background-color: $green_text-medium;
  color: white;
}

.projects__pagination-prev:hover.projects__pagination-prev::before {
  background-image: url("../img/arrow_white.png");
}

.projects__pagination-next:hover,
.projects__pagination-next:active,
.projects__pagination-next:focus {
  background-color: $green_text-medium;
  color: white;
}

.projects__pagination-next:hover.projects__pagination-next::after {
  background-image: url("../img/arrow_white.png");
}

/*========EXPERIENCE=========*/
.experience > div > div {
  padding: 5px;
}

.experience {
  padding: 0 10px;
}

.experience__item {
  padding: 20px 0;
  background-color: #2b542c;
  color: #fff;
  position: relative;
}

.experience__item-title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

.experience__content {
  display: flex;
  justify-content: space-around;
}

.experience__text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.experience__text-number {
  display: block;
  font-size: 30px;
  line-height: 37px;
  font-weight: 300;
}

.experience__bg {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center 100%;
}

.experience__bg_1 {
  background-image: url("../img/exp1.png");
}

.experience__bg_2 {
  background-image: url("../img/exp2.png");
}

.experience__bg_3 {
  background-image: url("../img/exp3.png");
  background-position: -155px center;
  background-size: 160%;
}

.experience__item_1 {
  background: linear-gradient(to right, $grad_green_dark1, $grad_green_dark2);
}

.experience__item_2 {
  background: linear-gradient(to right, $grad_grey1, $grad_grey2);
}

.experience__item_3 {
  background: linear-gradient(to right, $grad_blue1, $grad_blue2);
}

/*========FOOTER=========*/
.footer {
  background-color: #5e5e5e;
}

/*FOOTER-TOP*/
.footer__top {
  padding: 40px 0;
  color: #fff;
}

/*FOOTER-BOTTOM*/
.footer__bottom {
  padding: 40px 0;
  background-color: #000;
  color: #fff;
}

.footer__bottom-wrap {
  display: flex;
  justify-content: space-between;
}

.footer__name {
  flex-basis: 23%;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-basis: 63%;
}

.footer__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.7;
}

.footer__text {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.footer__phones {
  padding-left: 35px;
  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
  background-position: 0 7px;
}

.footer__phones span {
  display: block;
  opacity: 0.7;
}

.footer__mail {
  text-decoration: underline;
  padding-left: 35px;
  background-image: url("../img/icon-mail.png");
  background-repeat: no-repeat;
  background-position: 0 4px;
  color: rgba(255, 255, 255, 0.7);
  @include trans;
}

.footer__mail:hover {
  color: $green_text-dark;
}

@media (max-width: 1200px) {
  .experience__bg_3 {
    background-position: -127px center;
  }

  .about-us__inner-menu {
    padding: 10px 15px;
  }
}

@media (max-width: 992px) {
  /*=========HEADER==========*/
  .header {
    padding-top: 0;
    position: relative;
  }

  .header__nav {
    position: absolute;
    left: 0;
    right: 0;
    order: -1;
    margin: 0;
    flex-basis: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 3px 0;
    background-color: $grey;
    border-bottom: 1px solid #dbdbdb;
  }

  .header__logo {
    padding-top: 58px;
  }

  .header__contacts {
    padding-top: 58px;
  }

  .header__nav-item {
    margin-right: 30px;
  }

  .header__nav-item a {
    font-size: 14px;
  }

  /*===========ABOUT-US========*/
  .about-us__adv-item_2 {
    display: none;
  }

  .about-us__nav-link {
    font-size: 16px;
  }

  .about-us__nav-link span {
    display: none;
  }

  /*==========SLIDER============*/
  .slider__wrap {
    height: 350px;
  }

  .slider__title {
    font-size: 48px;
    line-height: 57px;
  }

  /*===========SERVICES=========*/
  .services__item {
    font-size: 20px;
  }
  .services__block div .services__item_3 {
    background: linear-gradient(to right, $grad_green_light1, $grad_green_light2);
  }

  .services__block div .services__item.services__item_4 {
    background: linear-gradient(to right, $grad_green_dark1, $grad_green_dark2);
  }

  /*==========CALL-BACK========*/
  .call-back {
    padding: 30px;
  }
  .call-back__desc {
    max-width: 54%;
    font-size: 18px;
  }

  .header__btn_call-back {
    font-size: 20px;
  }

  /*==========EXPERIENCE========*/
  .experience__item {
    padding: 23px 0;
  }

  .experience__item-title {
    font-size: 16px;
  }

  .experience__bg_3 {
    background-position: -28px center;
    background-size: 100%;
  }

  /*==========FOOTER=========*/
  .footer__name {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__contacts {
    flex-direction: column;
    flex-basis: 45%;
  }

  .footer__phones-block {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  /*==========HEADER===========*/
  .header {
    padding-bottom: 0;
    position: relative;
  }

  .header .container {
    margin-left: -15px;
    padding-right: 0;
  }

  .header__nav-block {
    display: none;
  }

  .header__nav {
    margin-bottom: 10px;
  }

  .header__logo {
    flex-basis: 100%;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .header__contacts {
    flex-direction: column;
    flex-basis: 100%;
    background-color: $green_medium;
    padding: 0;
  }

  .header__contacts-main-block {
    width: 100%;
    padding: 20px 30px 40px;
    text-align: center;
    display: none;
  }

  .header__phones {
    color: $white;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .header__btn_call {
    background-color: transparent;
    border: 1px solid $yellow;
    color: $yellow;
    padding: 5px 20px;
  }

  .header__phones-title {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }

  .header__phones-icon {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $green_medium;
    border: none;
    background-image: url("../img/icon-phone-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__phones-close {
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .header__phones-close::before,
  .header__phones-close::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    width: 1px;
    height: 25px;
    background-color: $white;
    transform: rotate(45deg);
  }

  .header__phones-close::after {
    transform: rotate(-45deg);
  }

  /*===========ABOUT-US==========*/
  .about-us__nav {
    display: none;
    flex-direction: column;
    margin: 0 -15px;
  }

  .about-us__nav-open {
    display: flex;
    justify-content: center;
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 10px 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #3a3a3b;
    font-size: 22px;
    text-align: center;
  }

  .about-us__nav-open span {
    display: block;
    position: relative;
  }

  .about-us__nav-open-icon {
    position: absolute;
    top: 6px;
    left: -40px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }

  .about-us__nav-open-icon::before,
  .about-us__nav-open-icon::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
  }

  .about-us__nav-open-icon::after {
    top: 16px;
  }

  /*mobile menu opened*/
  .about-us__nav-open_active .about-us__nav-open-icon{
    transform: rotate(90deg);
    top: 14px;
    left: -30px;
    background-color: $green_text-dark;
  }

  .about-us__nav-open_active .about-us__nav-open-icon::before,
  .about-us__nav-open_active .about-us__nav-open-icon::after {
    background-color: $green_text-dark;
  }

  .about-us__nav-open_active span {
    color: $green_text-dark;
  }

  .about-us__nav_active {
    display: flex;
  }

  .about-us__adv {
    display: none;
  }

  .about-us__nav-link {
    font-size: 18px;
  }

  .about-us__nav-link span {
    display: inline;
  }

  .about-us__nav-item_mobile {
    display: block;
  }

  .about-us__nav-item {
    border: none;
    border-bottom: 1px solid #3a3a3b;
    text-align: left;
  }

  .about-us__nav-item:hover .about-us__inner-menu {
    opacity: 0;
  }

  /*==========SLIDER==========*/
  .slider__item {
    border-top: none;
  }

  .slider__wrap {
    height: 255px;
  }

  .slider__title {
    font-size: 26px;
    line-height: 32px;
  }

  .slider__text {
    width: 95%;
  }

  .slider__desc {
    font-size: 14px;
  }

  /*===========SERVICES==========*/
  .services__item {
    display: flex;
    justify-content: center;
  }

  .services__block div .services__item_3 {
    background: linear-gradient(to right, $grad_green_dark1, $grad_green_dark2);
  }

  .services__block div .services__item.services__item_4 {
    background: linear-gradient(to right, $grad_green_light1, $grad_green_light2);
  }

  /*============CALL-BACK===========*/
  .call-back {
    flex-direction: column;
    text-align: center;
  }

  .call-back__desc {
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 100%;
    font-size: 20px;
  }

  .call-back__phone {
    font-size: 28px;
  }

  .header__btn_call-back {
    font-size: 18px;
    width: 90%;
  }

  /*=============EXPERIENCE===========*/
  .experience__item {
    padding: 20px 0;
  }

  .experience__item-title {
    font-size: 15px;
  }

  /*===============FOOTER==============*/
  .footer__bottom-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__desc {
    display: none;
  }

  .footer__mail-block {
    display: flex;
    flex-direction: column-reverse;
  }
}