.projects {
  padding-bottom: 30px;
}

.projects__item {
  display: flex;
  position: relative;
}

.projects__item-desc {
  flex-grow: 1;
  background-color: #f5f5f5;
  margin-left: 6px;
  padding: 15px;
  color: $bg_dark;
  height: calc(100% - 50px);
}

.projects__item-title {
  display: block;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 500;
  color: $green_text-dark;
  text-decoration: underline;
  cursor: pointer;
}

.projects__item-title:hover,
.projects__item-title:active,
.projects__item-title:focus {
  color: $bg_dark;
}

.projects__desc-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
}

.projects__number {
  font-weight: 700;
}

.projects__pagination-item {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: 1px solid $green_text-dark;
  border-radius: 5px;
  color: $green_text-dark;
  width: 16%;
  z-index: 20;
}

.projects__pagination-prev {
  padding-left: 30px;
  transition: all 0.3s ease-in-out;
  right: 16.5%;
}

.projects__pagination-next {
  right: 0;
}

.projects__pagination-prev::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 10px;
  display: block;
  width: 30px;
  height: 10px;
  background-image: url("../img/arrow_prev.png");
  background-repeat: no-repeat;
  transform: rotate(-180deg);
}

.projects__pagination-next {
  padding-right: 30px;
  transition: all 0.3s ease-in-out;
}

.projects__pagination-next::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 10px;
  display: block;
  width: 30px;
  height: 10px;
  background-image: url("../img/arrow_prev.png");
  background-repeat: no-repeat;
}

.projects__pagination-item.swiper-button-disabled {
  opacity: 0.4;
}

.projects__pagination-prev:hover,
.projects__pagination-prev:active,
.projects__pagination-prev:focus {
  background-color: $green_text-medium;
  color: white;
}

.projects__pagination-prev:hover.projects__pagination-prev::before {
  background-image: url("../img/arrow_white.png");
}

.projects__pagination-next:hover,
.projects__pagination-next:active,
.projects__pagination-next:focus {
  background-color: $green_text-medium;
  color: white;
}

.projects__pagination-next:hover.projects__pagination-next::after {
  background-image: url("../img/arrow_white.png");
}

.projects .swiper-wrapper {
  height: 280px;
}

@media (max-width: 1200px) {
  .projects__item-desc {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .projects__item-img {
    width: 64%;
    overflow: hidden;
  }

  .projects__item-img img {
    height: 100%;
  }

  .projects__desc-item {
    font-size: 15px;
    line-height: 22px;
  }

  .projects__pagination {
    width: 35%;
  }
}

@media (max-width: 992px) {
  .projects__item-img img {
    width: 100%;
  }

  .projects__pagination-prev {
    right: 21%;
  }

  .projects__pagination-item {
    width: 20%;
    bottom: 0;
  }

  .projects__pagination-prev::before {
    left: 0;
  }

  .projects__pagination-next::after {
    right: 0;
  }
}

@media (max-width: 768px) {
  .projects {
    margin: 0 -15px;
    padding-bottom: 50px;
  }

  .projects__item {
    flex-direction: column;
  }

  .projects__item-img {
    width: auto;
  }

  .projects__item-title {
    text-align: center;
  }

  .projects__item-desc {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .projects__desc-item {
    font-size: 16px;
    line-height: 20px;
  }

  .projects__pagination-item {
    position: relative;
    width: 49%;
    bottom: 0;
    right: 0;
  }

  .projects__pagination-prev {
    margin-left: 5px;
  }

  .projects .swiper-wrapper {
    height: auto;
  }
}