.recomend {
  margin: 20px 0 50px 0;
}

.block__title.recomend__title {
  margin-top: 0;
  text-align: left;
}

.recomend__text {
  padding-right: 10px;
  font-size: 18px;
  line-height: 28px;
  color: $bg_dark;
  font-weight: 400;
}
