.slider__wrap {
  height: 500px;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top: 1px solid #3a3a3b;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item_1 {
  background-image: url("../img/slide1.png");
}

.slider__item_2 {
  background-image: url("../img/slide2.png");
}

.slider__item_3 {
  background-image: url("../img/slide3.png");
}

.slider__item_4 {
  background-image: url("../img/slide4.png");
}

.slider__text {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider__item_2 .slider__text {
  align-items: center;
}

.slider__item_3 .slider__text {
  align-items: flex-end;
}

.slider__item_4 .slider__text {
  align-items: flex-start;
  width: 80%;
}

.slider__title {
  font-family: 'Neris', 'Arial', sans-serif;
  font-size: 62px;
  line-height: 76px;
}

.slider__item_2 .slider__title {
  text-align: center;
}

.slider__item_3 .slider__title {
  text-align: right;
}

.slider__item_4 .slider__title {
  text-align: left;
  color: $green_text-dark;
}

.slider__title-1 {
  display: inline-block;
  padding: 0px 15px 7px 15px;
  background-color: $green_text-dark;
}

.slider__item_2 .slider__title-1 {
  background-color: $slider_blue1;
}

.slider__item_3 .slider__title-1 {
  background-color: $slider_grey1;
}

.slider__item_4 .slider__title-1 {
  background-color: rgba(255,255,255,0.95);
}

.slider__title-2 {
  display: inline-block;
  padding: 0px 15px 7px 15px;
  background-color: $green_text-medium;
}

.slider__item_2 .slider__title-2 {
  background-color: $slider_blue2;
}

.slider__item_3 .slider__title-2 {
  background-color: $slider_grey2;
}

.slider__item_4 .slider__title-2 {
  background-color: rgba(255,255,255,0.85);
}

.slider__title-3 {
  display: inline-block;
  padding: 0px 15px 7px 15px;
  background-color: $green_text-light;
}

.slider__item_2 .slider__title-3 {
  background-color: $slider_blue3;
}

.slider__item_4 .slider__title-3 {
  background-color: rgba(255,255,255,0.75);
}

.slider__desc {
  width: 85%;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $bg_dark;
  background-color: rgba(255, 255, 255, 0.7);
}

.slider__item_2 .slider__desc {
  width: auto;
}

.slider__control-next,
.slider__control-prev {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  background: $white;
  border-radius: 50%;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/arrow_slider.png');
  @include trans;
}

.slider__control-prev {
  transform: rotate(180deg);
  left: 20px;
  right: auto;
}

.slider__control-next {
  right: 20px;
  left: auto;
}

.slider__control-next:hover,
.slider__control-next:active,
.slider__control-next:focus,
.slider__control-prev:hover,
.slider__control-prev:active,
.slider__control-prev:focus {
  background-image: url("../img/arrow_slider-white.png");
  background-color: $green_medium;
}

.pagination-white  {
  display: none;
  position: absolute;
  text-align: center;
  transition: .3s;
  transform: translate3d(0,0,0);
  z-index: 10;
}


@media (max-width: 992px) {
  .slider__wrap {
    height: 350px;
  }

  .slider__title {
    font-size: 48px;
    line-height: 57px;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 300px;
    background: white;
  }

  .slider__item {
    border-top: none;
  }

  .slider__wrap {
    height: 255px;
  }

  .slider__title {
    font-size: 26px;
    line-height: 32px;
  }

  .slider__text {
    width: 95%;
  }

  .slider__desc {
    font-size: 14px;
  }

  .slider__control-next,
  .slider__control-prev {
    display: none;
  }

  .pagination-white  {
    display: block;
  }

  .pagination-white .swiper-pagination-bullet {
     width: 12px;
     height: 12px;
     display: inline-block;
     border-radius: 100%;
     background: $grad_grey1;
    opacity: 1;
   }

  .pagination-white  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    border: 2px solid $grad_grey1;
    background: transparent;
  }
}

@media (max-width: 400px) {
  .slider__desc {
    display: none;
  }
}