@import 'helpers';
@import 'header';
@import 'aboutUs';
@import 'slider';
@import 'service';
@import 'callBack';
@import 'projects';
@import 'experience';
@import 'articles';
@import 'clients';
@import 'public';
@import 'footer';
@import 'seo';
@import 'breadcrumbs';
@import 'servicePage';
@import 'fade';
@import 'popup';


@font-face {
  font-family: Neris;
  src: url('../fonts/Neris-SemiBold.otf');
}

body {
  position: relative;
  @include roboto;
  background-color: $bg_dark;
}

.body-wrap {
  max-width: 1280px;
  margin: 0 auto;
  background-color: $white;
}

.block__title {
  font-size: 40px;
  color: $bg_dark;
  text-align: center;
  margin-bottom: 35px;
  font-weight: 400;
}

.block__title_white {
  color: rgba(255, 255, 255, 0.75);
}

.page-title {
  @include roboto(400, 40px, $bg_dark, 26px);
}


.visible {
  display: block !important;

}

button {
  outline: none;
}


@media (max-width: 768px) {
  .block__title {
    font-size: 32px;
    margin-bottom: 25px;
  }
}